@import 'tailwindcss';

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
}

@theme {
    --font-display: 'Manrope', 'sans-serif';

    --breakpoint-3xl: 120rem;

    --radius: 0.25rem;
    --radius-lg: 0.5rem;
    --radius-xl: 0.75rem;
    --radius-full: 9999px;

    --color-primary: #38e07b;
    --color-background-light: #f6f8f7;
    --color-background-dark: #122017;

    --color-on-primary: #122017;
    --color-on-bg-light: #0f172a;
    --color-on-bg-dark: #f1f5f9;

    --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
    --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
}
*::-webkit-scrollbar {
    height: 7px;
    width: 7px;
}

*::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: transparent;
}

*::-webkit-scrollbar-track:hover {
    background-color: transparent;
}

*::-webkit-scrollbar-track:active {
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #b2b3ca;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #999abf;
}

*::-webkit-scrollbar-thumb:active {
    background-color: #7b7da9;
}
